* {
	margin: 0;
	padding: 0;
	text-align: center;
}

#score {
	margin: 5px;
	border: 0;
	width: 95%;
	background-color: rgba(0, 0, 0, 0);
}

button {
	font-size: 50px;
}

#down {
	margin-top: 20px;
}

#up, #down {
	margin-left: 85px;
	padding: 10px 18px 7px 18px;
	padding-top: 0;
}

#right {
	margin-left: 100px;
}

#left, #right {
	padding: 0 5px 7px 5px;
	margin-top: 20px;
}

.buttons {
	text-align: left;
	margin-top: 10px;
	margin-left: 41.2%;
	margin-bottom: 10px;
}

.overlay {
	position: absolute;
	width: 90%;
	margin: 20px 0 0 5%;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
	text-align: left;
}
.controls {
	font-size: 20px;
}